.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

.button {
  background-color: blue; }

h3 {
  color: burlywood;
  margin-top: 1px solid purple; }

.buttonDisable {
  display: flex;
  margin: 1em 0;
  padding: auto; }

.dudo, .buttonEnable {
  display: flex;
  margin: 1em 0;
  padding: auto;
  position: relative; }

.buttonDisable {
  background: red; }
