$variable:true;

@import "componen/variables";
@import "button/button";

h3{
    color: burlywood;
    margin-top: 1px solid purple;
}



%button{
    display: flex;
    margin: 1em 0;
    padding: auto;
}

.dudo{
    display: flex;
    margin: 1em 0;
    padding: auto;
    position: relative;
}
.buttonEnable{
    @extend .dudo;
}

.buttonDisable{
    background: red;
    @extend %button;
}
