button{
    background-color: aqua;
    padding: 1em 1.5em;
    border: 1px solid aquamarine;
    box-shadow: 5px 8px #eee;
    position: absolute;
    left: -120px;
}

.buttonDisable{
    position: absolute;
    left: 0;
}